<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Wuzzufny</title>
    <link rel="icon" href="~/Photos/jobs.jpg" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @using (Html.BeginForm("Search", "Home", FormMethod.Post))
                        {
                            <input type="text" name="searchname" id="searchname" placeholder="Search" style="margin-right:50px;"/>
                        }
                    </li>
                    <li>
                        <a href="~/Home/Contact">
                            <i class="glyphicon glyphicon-comment"></i>
                            ContactUs
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-home"></i>
                            AboutSite
                        </a>
                    </li>
                    <li>
                        <a href="~/Home/Index">
                            <i class="glyphicon glyphicon-home"></i>
                            Main
                        </a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>

    </nav>
    <div class=" body "style="min-height:700px;margin-bottom:0px;">
        <div class=" body_nasted "style="min-height:700px;margin-bottom:0px;">
            @RenderBody()
        </div>
        <footer class="myFooter">
            <div class="col-md-12">
                <div class="row ">
                    <div class="col-md-4 line">
                        <h1>
                            Who Are We?
                        </h1>
                        <p>
                   
                        </p>
                    </div>
                    <div class="col-md-4 line">
                        <h1>
                            Important Links
                        </h1>
                        <ul>
                            <li>
                                <a href="#">General Jops</a>
                            </li>
                            <li>
                                <a href="#">Private Jops</a>
                            </li>
                            <li>
                                <a href="#">OutSide Jops</a>
                            </li>
                            <li>
                                <a href="#">Diffrent Jops</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 line">
                        <h1>
                            Connect With Us
                        </h1>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/marten.saytara" target="_blank">Facebook</a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/marten.99/"target="_blank">Instgram</a>
                            </li>
                            <li>
                                <a href="https://github.com/MartinMagdy"target="_blank">GitHub</a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/martin-magdy-6a9bb8ba/"target="_blank">LinkedIn</a>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </footer>
    </div>
    <div class="subFooter">
            <h5> All Copy Rights Go To Martin Magdy @DateTime.Now.Year</h5>
        </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts",required:false)
</body>
</html>
